In [22]:
import os
import google.genai as genai
from dotenv import load_dotenv

In [23]:
# .env 로드 및 api키 전역에 설정.
load_dotenv() 
google_key = os.getenv("GEMINI_API_KEY")

MODEL = "model/gemini-2.5-flash"

In [24]:
FILE_NAME = "data2.xlsx"

In [26]:
# 파일 import 및 저장 경로 설정
from pathlib import Path

PROJECT_ROOT = Path.cwd()
if PROJECT_ROOT.name == "notebooks":
    PROJECT_ROOT = PROJECT_ROOT.parent

DATA_PATH = PROJECT_ROOT / "downloads" / FILE_NAME
MD_PATH = PROJECT_ROOT / "debug" / "parsed_table.md"

In [27]:
# excel or csv의 raw data를 markdown으로 파싱

import importlib
import utils.parsing as parsing

importlib.reload(parsing)

from utils.parsing import parse_workbook_all_sheets_to_markdown


md_all = parse_workbook_all_sheets_to_markdown(
    DATA_PATH,
    max_total_chars=300_000,
    max_rows_per_sheet=2000,
    save_combined_markdown=False,
    combined_markdown_path=MD_PATH,
)

In [28]:
# 파싱된 마크다운 확인
md_all

'## Sheet: 표지\n\n| Unnamed: 0                                                                   | Unnamed: 6   | Unnamed: 8    |\n|:-----------------------------------------------------------------------------|:-------------|:--------------|\n| 2024년 제주특별자치도                                                        | nan          | nan           |\n|  외국인관광객 입도통계                                                       |              |               |\n| nan                                                                          | 제주관광공사 | 연구조사팀    |\n| nan                                                                          | nan          | 064) 740-6049 |\n| * 제주특별자치도관광협회 입도통계 및 한국관광공사 한국관광통계에서 발췌∙수정 | nan          | nan           |\n| * 제주특별자치도 입도통계는 확정치가 발표되지 않은 경우 잠정치를 이용함      | nan          | nan           |\n\n\n## Sheet: 1월\n\n| 제주 외국인관광통계 1월   | Unnamed: 1   | Unnamed: 2   | Unnamed: 3   | Unnamed: 4   | Unnamed: 5          | Unnamed: 6   | Unnamed: 7   | Unnamed: 8          | Unnamed: 9         | Unnamed: 10        | Unnamed: 11         |\n|:--------------------------|:-------------|:-------------|:-------------|:-------------|:--------------------|:-------------|:-------------|:--------------------|:-------------------|:-------------------|:--------------------|\n| nan                       | nan          | nan          | 제주(A)      | nan          | nan                 | 한국(B)      | nan          | nan                 | 제주 점유율(%)     | nan                | nan                 |\n| nan                       | nan          | nan          | 2024년       | 2023년       | 증감률(%)           | 2024년       | 2023년       | 증감률(%)           | 2024년             | 2023년             | 증감                |\n| 총계                      | nan          | 월계         | 101143       | 15849        | 538.1664458325447   | 880881       | 434429       | 102.76754084096595  | 11.48202765186217  | 3.6482371112425733 | 7.833790540619597   |\n| nan                       | nan          | 누계         | 101143       | 15849        | 538.1664458325447   | 880881       | 434429       | 102.76754084096595  | 11.48202765186217  | 3.6482371112425733 | 7.833790540619597   |\n| 아시아                    | 소계         | 월계         | 98360        | 14070        | 599.0760483297796   | 720427       | 311348       | 131.3896347495407   | 13.653014115239989 | 4.519059059316263  | 9.133955055923725   |\n| nan                       | nan          | 누계         | 98360        | 14070        | 599.0760483297796   | 720427       | 311348       | 131.3896347495407   | 13.653014115239989 | 4.519059059316263  | 9.133955055923725   |\n| nan                       | 일본         | 월계         | 826          | 1007         | -17.974180734856006 | 143152       | 66900        | 113.97907324364725  | 0.5770090533139599 | 1.5052316890881914 | -0.9282226357742315 |\n| nan                       | nan          | 누계         | 826          | 1007         | -17.974180734856006 | 143152       | 66900        | 113.97907324364725  | 0.5770090533139599 | 1.5052316890881914 | -0.9282226357742315 |\n| nan                       | 중국         | 월계         | 86065        | 628          | 13604.617834394903  | 280035       | 24946        | 1022.5647398380502  | 30.73365829271341  | 2.5174376653571717 | 28.21622062735624   |\n| nan                       | nan          | 누계         | 86065        | 628          | 13604.617834394903  | 280035       | 24946        | 1022.5647398380502  | 30.73365829271341  | 2.5174376653571717 | 28.21622062735624   |\n| nan                       | 홍콩         | 월계         | 1427         | 70           | 1938.5714285714287  | 25755        | 26777        | -3.8167083691227544 | 5.540671714230246  | 0.261418381446764  | 5.279253332783482   |\n| nan                       | nan          | 누계         | 1427         | 70           | 1938.5714285714287  | 25755        | 26777        | -3.8167083691227544 | 5.540671714230246  | 0.261418381446764  | 5.279253332783482   |\n| nan                       | 대만         | 월계         | 5394         | 3084         | 74.90272373540856   | 93589        | 49477        | 89.15657780382804   | 5.763497846969194  | 6.233199264304626  | -0.4697014173354317 |\n| nan                       | nan          | 누계         | 5394         | 3084         | 74.90272373540856   | 93589        | 49477        | 89.15657780382804   | 5.763497846969194  | 6.233199264304626  | -0.4697014173354317 |\n| nan                       | 싱가폴       | 월계         | 1528         | 2155         | -29.095127610208817 | 14036        | 13316        | 5.407029137879243   | 10.886292390994585 | 16.183538600180235 | -5.29724620918565   |\n| nan                       | nan          | 누계         | 1528         | 2155         | -29.095127610208817 | 14036        | 13316        | 5.407029137879243   | 10.886292390994585 | 16.183538600180235 | -5.29724620918565   |\n| nan                       | 말레이시아   | 월계         | 724          | 719          | 0.6954102920723227  | 16913        | 11058        | 52.94809187918249   | 4.280730798793828  | 6.502079942123349  | -2.2213491433295216 |\n| nan                       | nan          | 누계         | 724          | 719          | 0.6954102920723227  | 16913        | 11058        | 52.94809187918249   | 4.280730798793828  | 6.502079942123349  | -2.2213491433295216 |\n| nan                       | 인도네시아   | 월계         | 515          | 287          | 79.44250871080139   | 19274        | 12838        | 50.13241937996573   | 2.6719933589291274 | 2.2355507088331517 | 0.4364426500959757  |\n| nan                       | nan          | 누계         | 515          | 287          | 79.44250871080139   | 19274        | 12838        | 50.13241937996573   | 2.6719933589291274 | 2.2355507088331517 | 0.4364426500959757  |\n| nan                       | 베트남       | 월계         | 289          | 273          | 5.86080586080586    | 21397        | 21621        | -1.0360297858563432 | 1.3506566341075852 | 1.2626613015124184 | 0.08799533259516679 |\n| nan                       | nan          | 누계         | 289          | 273          | 5.86080586080586    | 21397        | 21621        | -1.0360297858563432 | 1.3506566341075852 | 1.2626613015124184 | 0.08799533259516679 |\n| nan                       | 태국         | 월계         | 112          | 5104         | -97.80564263322884  | 20516        | 25823        | -20.551446385005615 | 0.545915383115617  | 19.765325485032722 | -19.219410101917106 |\n| nan                       | nan          | 누계         | 112          | 5104         | -97.80564263322884  | 20516        | 25823        | -20.551446385005615 | 0.545915383115617  | 19.765325485032722 | -19.219410101917106 |\n| nan                       | 기타         | 월계         | 1480         | 743          | 99.19246298788694   | 85760        | 58592        | 46.36810486073184   | 1.7257462686567164 | 1.2680912069907153 | 0.4576550616660011  |\n| nan                       | nan          | 누계         | 1480         | 743          | 99.19246298788694   | 85760        | 58592        | 46.36810486073184   | 1.7257462686567164 | 1.2680912069907153 | 0.4576550616660011  |\n| 서구 등                   | 소계         | 월계         | 2783         | 1779         | 56.43620011242271   | 160454       | 123081       | 30.36455667406017   | 1.7344534882271556 | 1.445389621468789  | 0.2890638667583667  |\n| nan                       | nan          | 누계         | 2783         | 1779         | 56.43620011242271   | 160454       | 123081       | 30.36455667406017   | 1.7344534882271556 | 1.445389621468789  | 0.2890638667583667  |\n| nan                       | 미국         | 월계         | 1153         | 881          | 30.87400681044268   | 61754        | 49120        | 25.72068403908795   | 1.8670855329209444 | 1.7935667752442996 | 0.07351875767664473 |\n| nan                       | nan          | 누계         | 1153         | 881          | 30.87400681044268   | 61754        | 49120        | 25.72068403908795   | 1.8670855329209444 | 1.7935667752442996 | 0.07351875767664473 |\n| nan                       | 기타         | 월계         | 1630         | 898          | 81.51447661469933   | 98700        | 73961        | 33.44870945498303   | 1.6514690982776088 | 1.2141534051729967 | 0.43731569310461205 |\n| nan                       | nan          | 누계         | 1630         | 898          | 81.51447661469933   | 98700        | 73961        | 33.44870945498303   | 1.6514690982776088 | 1.2141534051729967 | 0.43731569310461205 |\n\n\n## Sheet: 2월 \n\n| 제주 외국인관광통계 2월   | Unnamed: 1   | Unnamed: 2   | Unnamed: 3   | Unnamed: 4   | Unnamed: 5         | Unnamed: 6   | Unnamed: 7   | Unnamed: 8          | Unnamed: 9         | Unnamed: 10         | Unnamed: 11          |\n|:--------------------------|:-------------|:-------------|:-------------|:-------------|:-------------------|:-------------|:-------------|:--------------------|:-------------------|:--------------------|:---------------------|\n| nan                       | nan          | nan          | 제주(A)      | nan          | nan                | 한국(B)      | nan          | nan                 | 제주 점유율(%)     | nan                 | nan                  |\n| nan                       | nan          | nan          | 2024년       | 2023년       | 증감률(%)          | 2024년       | 2023년       | 증감률(%)           | 2024년             | 2023년              | 증감                 |\n| 총계                      | nan          | 월계         | 108805       | 12929        | 741.557738417511   | 1030244      | 479248       | 114.97095449537609  | 10.561090382472502 | 2.697768170133209   | 7.863322212339293    |\n| nan                       | nan          | 누계         | 209948       | 28778        | 629.5434012092571  | 1911125      | 913677       | 109.16855737859221  | 10.985571325789783 | 3.149690755048009   | 7.835880570741773    |\n| 아시아                    | 소계         | 월계         | 105928       | 11542        | 817.7612198925664  | 873244       | 361780       | 141.3743158825806   | 12.130401125000573 | 3.1903366686936816  | 8.94006445630689     |\n| nan                       | nan          | 누계         | 204288       | 25612        | 697.6261127596439  | 1593671      | 673128       | 136.7560107438704   | 12.818705993897108 | 3.8049226892953496  | 9.013783304601759    |\n| nan                       | 일본         | 월계         | 1377         | 782          | 76.08695652173914  | 183999       | 94393        | 94.92864937018635   | 0.7483736324653939 | 0.8284512622758043  | -0.08007762981041044 |\n| nan                       | nan          | 누계         | 2203         | 1789         | 23.141419787590834 | 327151       | 161293       | 102.8302530177999   | 0.6733893523174315 | 1.1091615879176406  | -0.43577223560020917 |\n| nan                       | 중국         | 월계         | 89999        | 389          | 23035.989717223652 | 343719       | 45884        | 649.104262923895    | 26.183888583406794 | 0.8477900793304856  | 25.336098504076308   |\n| nan                       | nan          | 누계         | 176064       | 1017         | 17212.094395280234 | 623754       | 70830        | 780.6353240152478   | 28.22651237507094  | 1.4358322744599745  | 26.790680100610963   |\n| nan                       | 홍콩         | 월계         | 1935         | 70           | 2664.285714285714  | 35458        | 16237        | 118.37777914639405  | 5.4571605843533195 | 0.43111412206688426 | 5.026046462286435    |\n| nan                       | nan          | 누계         | 3362         | 140          | 2301.4285714285716 | 61213        | 43014        | 42.309480634212115  | 5.492297387809779  | 0.32547542660529133 | 5.166821961204487    |\n| nan                       | 대만         | 월계         | 7360         | 2923         | 151.7960998973657  | 96704        | 47970        | 101.59266208046695  | 7.610853739245532  | 6.093391703147801   | 1.5174620360977311   |\n| nan                       | nan          | 누계         | 12754        | 6007         | 112.31896121191942 | 190293       | 97447        | 95.2784590597966    | 6.702295933113672  | 6.164376532884543   | 0.5379194002291294   |\n| nan                       | 싱가폴       | 월계         | 1857         | 1177         | 57.77400169923534  | 15282        | 12173        | 25.540129795448944  | 12.151550844130348 | 9.668939456173499   | 2.482611387956849    |\n| nan                       | nan          | 누계         | 3385         | 3332         | 1.5906362545018007 | 29318        | 25489        | 15.022166424732236  | 11.545808036018828 | 13.072305700498255  | -1.526497664479427   |\n| nan                       | 말레이시아   | 월계         | 1228         | 615          | 99.67479674796748  | 29516        | 16486        | 79.0367584617251    | 4.1604553462528795 | 3.730437947349266   | 0.43001739890361357  |\n| nan                       | nan          | 누계         | 1952         | 1334         | 46.326836581709145 | 46429        | 27544        | 68.56302643043857   | 4.204268883671843  | 4.843160034853326   | -0.6388911511814825  |\n| nan                       | 인도네시아   | 월계         | 518          | 211          | 145.49763033175356 | 19466        | 14156        | 37.51059621361967   | 2.6610500359601357 | 1.4905340491664312  | 1.1705159867937045   |\n| nan                       | nan          | 누계         | 1033         | 498          | 107.429718875502   | 38740        | 26994        | 43.5133733422242    | 2.666494579246257  | 1.8448544120915762  | 0.8216401671546807   |\n| nan                       | 베트남       | 월계         | 296          | 296          | 0                  | 39674        | 28828        | 37.623144165394756  | 0.7460805565357665 | 1.0267795199111975  | -0.280698963375431   |\n| nan                       | nan          | 누계         | 585          | 569          | 2.8119507908611596 | 61071        | 50449        | 21.054926757715712  | 0.9579014589576067 | 1.1278717120260064  | -0.16997025306839975 |\n| nan                       | 태국         | 월계         | 123          | 4339         | -97.16524544825997 | 22347        | 28142        | -20.591997725819063 | 0.5504094509330111 | 15.418236088408785  | -14.867826637475773  |\n| nan                       | nan          | 누계         | 235          | 9443         | -97.51138409403791 | 42863        | 53965        | -20.57259334754007  | 0.5482584046846931 | 17.498378578708422  | -16.95012017402373   |\n| nan                       | 기타         | 월계         | 1235         | 740          | 66.8918918918919   | 87079        | 57511        | 51.41277320860357   | 1.418252391506563  | 1.2867103684512529  | 0.13154202305531015  |\n| nan                       | nan          | 누계         | 2715         | 1483         | 83.07484828051247  | 172839       | 116103       | 48.86695434226505   | 1.570826028847656  | 1.277314109023884   | 0.2935119198237721   |\n| 서구 등                   | 소계         | 월계         | 2877         | 1387         | 107.42609949531364 | 157000       | 117468       | 33.65342050601014   | 1.8324840764331212 | 1.1807470970817584  | 0.6517369793513628   |\n| nan                       | nan          | 누계         | 5660         | 3166         | 78.77447883765004  | 317454       | 240549       | 31.970617213124974  | 1.7829354804160602 | 1.3161559599083763  | 0.4667795205076839   |\n| nan                       | 미국         | 월계         | 1258         | 785          | 60.25477707006369  | 62607        | 46204        | 35.5012553025712    | 2.0093599757215648 | 1.6989871006839234  | 0.3103728750376413   |\n| nan                       | nan          | 누계         | 2411         | 1666         | 44.71788715486195  | 124361       | 95324        | 30.461373840795602  | 1.9387106890423846 | 1.747723553354874   | 0.19098713568751058  |\n| nan                       | 기타         | 월계         | 1619         | 602          | 168.93687707641197 | 94393        | 71264        | 32.45537718904355   | 1.7151695570646128 | 0.8447462954647508  | 0.870423261599862    |\n| nan                       | nan          | 누계         | 3249         | 1500         | 116.6              | 193093       | 145225       | 32.96126699948356   | 1.6826088983028904 | 1.0328800137717336  | 0.6497288845311568   |\n\n\n## Sheet: 3월\n\n| 제주 외국인관광통계 3월   | Unnamed: 1   | Unnamed: 2   | Unnamed: 3   | Unnamed: 4   | Unnamed: 5          | Unnamed: 6   | Unnamed: 7   | Unnamed: 8         | Unnamed: 9          | Unnamed: 10         | Unnamed: 11          |\n|:--------------------------|:-------------|:-------------|:-------------|:-------------|:--------------------|:-------------|:-------------|:-------------------|:--------------------|:--------------------|:---------------------|\n| nan                       | nan          | nan          | 제주(A)      | nan          | nan                 | 한국(B)      | nan          | nan                | 제주 점유율(%)      | nan                 | nan                  |\n| nan                       | nan          | nan          | 2024년       | 2023년       | 증감률(%)           | 2024년       | 2023년       | 증감률(%)          | 2024년              | 2023년              | 증감                 |\n| 총계                      | nan          | 월계         | 152856       | 29831        | 412.40655693741405  | 1491748      | 800575       | 86.33457202635606  | 10.246770902323984  | 3.7261967960528373  | 6.520574106271146    |\n| nan                       | nan          | 누계         | 362804       | 58609        | 519.0243819208654   | 3402873      | 1714252      | 98.50482892830226  | 10.661696748600374  | 3.4189255722029204  | 7.242771176397453    |\n| 아시아                    | 소계         | 월계         | 142798       | 22646        | 530.5661043892961   | 1193544      | 592083       | 101.58389955462326 | 11.964200733278371  | 3.824801590317574   | 8.139399142960798    |\n| nan                       | nan          | 누계         | 347086       | 48258        | 619.2299722325832   | 2787215      | 1265211      | 120.29645648038154 | 12.4527888950081    | 3.814225453303836   | 8.638563441704264    |\n| nan                       | 일본         | 월계         | 2014         | 2308         | -12.738301559792028 | 338742       | 192318       | 76.13639908900883  | 0.5945527864864705  | 1.2000956748718268  | -0.6055428883853563  |\n| nan                       | nan          | 누계         | 4217         | 4097         | 2.9289724188430557  | 665893       | 353611       | 88.31229797715568  | 0.6332849271579668  | 1.1586178031791996  | -0.5253328760212328  |\n| nan                       | 중국         | 월계         | 114132       | 1692         | 6645.390070921985   | 391347       | 73390        | 433.2429486306037  | 29.16388780289615   | 2.3054912113366943  | 26.858396591559455   |\n| nan                       | nan          | 누계         | 290196       | 2709         | 10612.292358803987  | 1015101      | 144220       | 603.8559145749549  | 28.58789420954171   | 1.8783802523921787  | 26.70951395714953    |\n| nan                       | 홍콩         | 월계         | 3921         | 440          | 791.1363636363636   | 49235        | 27155        | 81.31099245074573  | 7.963846856910735   | 1.6203277481126863  | 6.3435191087980485   |\n| nan                       | nan          | 누계         | 7283         | 580          | 1155.689655172414   | 110448       | 70169        | 57.40284171072696  | 6.594053310155005   | 0.826575838333167   | 5.767477471821838    |\n| nan                       | 대만         | 월계         | 12856        | 4505         | 185.3718091009989   | 115578       | 63504        | 82.00113378684807  | 11.123224143002993  | 7.0940413202317965  | 4.0291828227711965   |\n| nan                       | nan          | 누계         | 25610        | 10512        | 143.62633181126333  | 305871       | 160951       | 90.03982578548751  | 8.372810760091673   | 6.531180297109058   | 1.8416304629826143   |\n| nan                       | 싱가폴       | 월계         | 4570         | 3204         | 42.63420724094881   | 38849        | 34337        | 13.140344235081692 

In [30]:
# load prompts
from utils.prompt_loader import load_json_generator_prompts, load_report_generator_prompts

json_generator_prompts = load_json_generator_prompts()
report_generator_prompts = load_report_generator_prompts()

/Users/anseonghui/text-to-json/prompt

In [8]:
json_generator_prompts

'You are a prompt engineer for extracting JSON from Excel tables.\n\nINPUTS YOU WILL RECEIVE:\n1) An Excel table parsed as Markdown text (may include line breaks, multirow headers, merged-like cells, NaNs, and wrapped text).\n\nYOUR TASK:\nProduce TWO OUTPUTS:\n\nA) "LLM_EXTRACTION_PROMPT"\nWrite a single, self-contained prompt intended for a separate LLM (the “Extractor LLM”). The prompt must instruct the Extractor LLM to:\n- Parse the provided LaTeX table as the authoritative representation of the Excel.\n- Infer a reasonable JSON structure from the table contents (no schema is provided).\n- Use headers as keys where possible and preserve units in values.\n- Handle messy cases: multiline cells, missing values, repeated headers, footnotes, totals rows, and ambiguous columns.\n- Output ONLY valid JSON (no commentary, no markdown, no metadata).\n- If the JSON structure includes any narrative fields such as "report", "summary", "analysis", or descriptive text fields, those fields MUST be written entirely in Korean.\n- At the end of the prompt you MUST write ```endoftext.\n\nB) "PYTHON_CODE"\nWrite runnable Python 3 code (no placeholders) that:\n- Loads an Excel file from a path variable EXCEL_PATH.\n- Selects a sheet by name if provided (SHEET_NAME optional) else uses the first sheet.\n- Reconstructs the same table content the LLM sees (preferably by reading the sheet directly, not by parsing LaTeX).\n- Cleans and normalizes the data (strip whitespace, normalize newlines, coerce types, parse dates, handle merged cells if possible, forward-fill headers if needed).\n- Produces a JSON object or list that reasonably represents the table (no fixed schema, no metadata).\n- DO NOT write any files. Do NOT save JSON to disk. Do NOT reference OUTPUT_JSON_PATH.\n- Instead: expose a function `extract_json_from_excel(EXCEL_PATH, SHEET_NAME=None) -> dict | list` that returns the final JSON object.\n- Use only common libraries: pandas, openpyxl, json, re, datetime.\n- Use "input.xlsx" as dummy path for input in an example `if __name__ == "__main__":` block, but do not write any files.\n\n\nOUTPUT FORMAT REQUIREMENTS:\nReturn exactly two top-level sections in this exact order:\n\n### LLM_EXTRACTION_PROMPT\n\n```text\n{the prompt text}\n```endoftext (you must include this)\n\n### PYTHON_CODE\n```python\n<code>\n```\n'

In [9]:
report_generator_prompts

'[SYSTEM]\n    SYSTEM:\nYou generate three artifacts from the same content:\n1) a human-readable professional report,\n2) a JSON representation of that report,\n3) a JSON Schema that describes exactly that JSON.\n\nCRITICAL CONSTRAINTS:\n- The JSON must be derivable ONLY from the report text.\n- Do NOT assume spreadsheets, tables, cells, or any external source.\n- Do NOT introduce any concepts, fields, or entities that do not appear in the report.\n- The JSON Schema must describe the structure of the produced JSON and NOTHING MORE.\n- The schema MAY differ for every output.\n- If a concept does not appear in the report, it must NOT appear in the JSON or schema.\n- Every JSON field must be supported by one or more sentences in the report.\n\nOUTPUT FORMAT:\nReturn exactly three sections in this order:\n=== REPORT ===\n=== JSON ===\n=== JSON_SCHEMA ===\nDo not use code fences.\n\n\n    [DOCUMENT STYLE]\n    [PosixPath(\'/Users/anseonghui/text-to-json/prompt/prompt_report.txt\')]\n\n    [USER INSTRUCTION]\n    # You will be given structured extracts derived from a source document.\nYour task is to produce three artifacts from this information:\n\n1) A professional, human-readable report written as a standalone expert document.\n2) A JSON representation that structurally captures the information contained in the report.\n3) A JSON Schema that describes exactly and only the structure of the generated JSON.\n\nIMPORTANT WORLDVIEW CONSTRAINTS:\n- You must NOT assume that the source data comes from spreadsheets, tables, cells, or files of any kind.\n- The report must read as a natural expert document, as if written independently.\n- The JSON must be fully derivable from the report text alone.\n- The JSON Schema must be specific to this JSON output and MAY differ for every document.\n- If a concept does not explicitly appear in the report, it must NOT appear in the JSON or the JSON Schema.\n- Do NOT introduce new facts, interpretations, entities, or categories beyond what is written in the report.\n- Every field in the JSON must be supported by one or more sentences that appear verbatim in the report.\n- If information is missing, state "Not specified" explicitly in the report and reflect that consistently in the JSON.\n\nYou must return the outputs in the following exact order and format, without code fences:\n\n=== REPORT ===\n(Write the full report here.)\n\n=== JSON ===\n(Produce a valid JSON object that captures the structure and content of the report.)\n\n=== JSON_SCHEMA ===\n(Produce a valid JSON Schema that describes exactly the JSON object above.\n The schema must not include fields that do not appear in the JSON.\n Use JSON Schema draft 2020-12.)\n\nYou will be given a document as an attached file.\nThis content represents the ONLY information you are allowed to use.\n\nAdditional output requirements:\n- Write in Korean.\n- Use clear sectioning and professional tone, consistent with the selected document style.\n- Prefer explicit statements over vague language.\n- Do not reference how the document was created or where the data originated.'

In [31]:
report_prompt = report_generator_prompts + '''=======INPUT MARKDOWN======{md_all}'''

In [32]:
import os
from google import genai

client = genai.Client(api_key=os.environ["GEMINI_API_KEY"])  
resp = client.models.generate_content(
    model="gemini-2.0-flash",
    contents=report_prompt
)

In [33]:
# 생성한 보고서를 확인을 위해 저장
p = Path("debug/report_debug.txt")

p.parent.mkdir(parents=True, exist_ok=True)

normalized =resp.text.replace("\r\n", "\n").replace("\r", "\n")

p.write_text(normalized, encoding="utf-8")

2766

In [34]:
from utils.parsing_answer import parse_report_json_schema

data = parse_report_json_schema(resp.text)

In [41]:
p = Path(f'../data/report/{FILE_NAME}.txt')

p.parent.mkdir(parents=True, exist_ok=True)
normalized = data["report"].replace("\r\n", "\n").replace("\r", "\n")
p.write_text(normalized, encoding="utf-8")

import json

p = Path(f'../data/json/{FILE_NAME}.json')

p.parent.mkdir(parents=True, exist_ok=True)
normalized = data["json_obj"]
p.write_text(json.dumps(normalized, ensure_ascii=False, indent=2), encoding="utf-8")


p = Path(f'../data/json_schema/{FILE_NAME}.json')

p.parent.mkdir(parents=True, exist_ok=True)
normalized = data["json_schema"]
p.write_text(json.dumps(normalized, ensure_ascii=False, indent=2), encoding="utf-8")

1879

In [ ]:
data["report"]

'## 보고서\n\n본 보고서는 제공된 데이터를 기반으로 작성되었으며, 명확성과 전문성을 최우선으로 합니다. 보고서의 모든 내용은 제공된 정보에 근거하며, 추가적인 해석이나 가정을 포함하지 않습니다.\n\n### 프로젝트 정보\n\n프로젝트 이름은 "프로젝트 블루"입니다. 이 프로젝트는 현재 진행 중이며, 2023년 3월 15일에 시작되었습니다. 프로젝트의 상태는 "진행 중"으로 보고되었습니다.\n\n### 팀 구성\n\n프로젝트 팀은 다음과 같이 구성됩니다. 팀 리더는 김민지입니다. 팀 멤버로는 이서연과 박지훈이 있습니다. 각 팀원의 역할에 대한 구체적인 정보는 제공되지 않았습니다.\n\n### 예산 정보\n\n프로젝트에 할당된 총 예산은 50,000달러입니다. 현재까지 지출된 금액은 25,000달러입니다. 남은 예산에 대한 정보는 제공되지 않았습니다.\n\n### 위험 요소\n\n현재 프로젝트에는 두 가지 위험 요소가 식별되었습니다. 첫 번째 위험 요소는 "자원 부족"이며, 두 번째 위험 요소는 "일정 지연"입니다. 이러한 위험 요소에 대한 구체적인 해결 방안은 제공되지 않았습니다.'

In [19]:
data["json_obj"]

{'프로젝트 정보': {'프로젝트 이름': '프로젝트 블루', '시작일': '2023년 3월 15일', '상태': '진행 중'},
 '팀 구성': {'팀 리더': '김민지', '팀 멤버': ['이서연', '박지훈']},
 '예산 정보': {'총 예산': '50,000달러', '지출액': '25,000달러'},
 '위험 요소': ['자원 부족', '일정 지연']}

In [20]:
data["json_schema"]

{'$schema': 'https://json-schema.org/draft/2020-12/schema',
 'type': 'object',
 'properties': {'프로젝트 정보': {'type': 'object',
   'properties': {'프로젝트 이름': {'type': 'string'},
    '시작일': {'type': 'string'},
    '상태': {'type': 'string'}},
   'required': ['프로젝트 이름', '시작일', '상태']},
  '팀 구성': {'type': 'object',
   'properties': {'팀 리더': {'type': 'string'},
    '팀 멤버': {'type': 'array', 'items': {'type': 'string'}}},
   'required': ['팀 리더', '팀 멤버']},
  '예산 정보': {'type': 'object',
   'properties': {'총 예산': {'type': 'string'}, '지출액': {'type': 'string'}},
   'required': ['총 예산', '지출액']},
  '위험 요소': {'type': 'array', 'items': {'type': 'string'}}},
 'required': ['프로젝트 정보', '팀 구성', '예산 정보', '위험 요소']}